<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>

    <div class="login-form">
        <h2>Admin Login</h2>
        <form action="/adminlogin" method="POST">
         <!-- Error message display -->
                    <div><p style="color:red">[[${msg}]]</p></div>
                    
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>

        <!-- Add a link for users who don't have an account yet -->
        <div class="signup-message">
            <p>Don't have an account? <a href="/getsingup">Signup now</a></p>
        </div>
    </div>

</body>
</html>
